@model App.MVC.ViewModels.ControlPanel.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-margin">
    @Html.Partial("ControlPanelMenu")

    <div class="col-md-9">
        <div class="card bg-light">
            <div class="card-header">Change password</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Index", "ChangePassword"))
                        {
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>Old password</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.PasswordFor(p => p.OldPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.OldPassword, null, new { @class = "validation-error-text" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>New password</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.NewPassword, null, new { @class = "validation-error-text" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>Confirm new password</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(p => p.ConfirmNewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(p => p.ConfirmNewPassword, null, new { @class = "validation-error-text" })
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary send-button">Save</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>