@model App.MVC.ViewModels.ControlPanel.ChangeAvatarViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomScripts
{
    @Scripts.Render("/Scripts/Views/change-avatar.js");
}

<div class="row row-margin">
    @Html.Partial("ControlPanelMenu")

    <div class="col-md-9">
        <div class="card bg-light">
            <div class="card-header">Change avatar</div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "ChangeAvatar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-8">
                                @Html.ValidationMessage("Summary")
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.RadioButtonFor(p => Model.Type, global::App.MVC.ViewModels.ControlPanel.Enums.AvatarType.Default) Default
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.RadioButtonFor(p => Model.Type, global::App.MVC.ViewModels.ControlPanel.Enums.AvatarType.Gravatar) Gravatar
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.RadioButtonFor(p => Model.Type, global::App.MVC.ViewModels.ControlPanel.Enums.AvatarType.Internal) Internal
                                        @Html.TextBoxFor(m => m.AvatarFile, new { type = "file", name = "AvatarFile" })
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <img src="@Model.Source" alt="User avatar" class="avatar-image"/>
                        </div>
                        <button type="submit" class="btn btn-primary send-button">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>