@model App.MVC.ViewModels.ControlPanel.ChangeProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row row-margin">
    @Html.Partial("ControlPanelMenu")
    
    <div class="col-md-9">
        <div class="card bg-light">
            <div class="card-header">Change profile options</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Index", "ChangeProfile"))
                        {
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>E-Mail</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(p => p.EMail, new {@class = "form-control", placeholder = "Enter email"})
                                    @Html.ValidationMessageFor(p => p.EMail, null, new {@class = "validation-error-text"})
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>City</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(p => p.City, new { @class = "form-control", placeholder = "Enter city" })
                                    @Html.ValidationMessageFor(p => p.City, null, new { @class = "validation-error-text" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>About</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(p => p.About, new { @class = "form-control", placeholder = "Enter something about you" })
                                    @Html.ValidationMessageFor(p => p.About, null, new { @class = "validation-error-text" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2 text-right">
                                    <strong>Footer</strong>
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(p => p.Footer, new { @class = "form-control", placeholder = "Enter footer" })
                                    @Html.ValidationMessageFor(p => p.Footer, null, new { @class = "validation-error-text" })
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary send-button">Save</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>