@model CategoryWithTopicsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="pagecontent">
    <table width="100%" cellspacing="1">
        <tbody>
            <tr>
                <td align="left" valign="middle">
                    <a href="#">
                        <img src="/Content/Images/button_topic_new.gif" width="79" height="22" alt="Post new topic" title="Post new topic"/>
                    </a>
                </td>
                <td class="nav" valign="middle" nowrap="nowrap">&nbsp;Page <strong>1</strong> of <strong>1</strong></td>
                <td class="gensmall" nowrap="nowrap">&nbsp;[ 6 topics ]&nbsp;</td>
                <td align="right" width="100%"></td>
            </tr>
        </tbody>
    </table>

    <div class="cap-div">
        <div class="cap-left">
            <div class="cap-right">
                &nbsp;@Model.Name&nbsp;
            </div>
        </div>
    </div>

    <table class="tablebg" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <th colspan="2">&nbsp;Topics&nbsp;</th>
                <th>&nbsp;Author&nbsp;</th>
                <th>&nbsp;Creation time&nbsp;</th>
                <th>&nbsp;Replies&nbsp;</th>
                <th>&nbsp;Views&nbsp;</th>
                <th>&nbsp;Last post&nbsp;</th>
            </tr>
            @foreach (TopicDetailsViewModel topic in Model.Topics)
            {
                <tr>
                    <td class="row1" width="25" align="center"><img src="/Content/Images/topic_unread.gif" width="18" height="18" alt="Unread posts" title="Unread posts" /></td>

                    <td class="row1">
                        <a href="#"><img src="/Content/Images/icon_topic_newest.gif" width="9" height="9" alt="View first unread post" title="View first unread post" /></a>
                        <a title="Posted: 22 May 2007, 08:51" href="#" class="topictitle link-new">@topic.Name</a>

                    </td>
                    <td class="row2" width="130" align="center"><p class="topicauthor"><a href="#">@topic.AuthorName</a></p></td>
                    <td class="row1" width="50" align="center"><p class="topicdetails">@topic.CreationTime</p></td>
                    <td class="row1" width="50" align="center"><p class="topicdetails">@topic.PostsCount</p></td>
                    <td class="row2" width="50" align="center"><p class="topicdetails">0</p></td>
                    <td class="row1" width="140" align="center">
                        <p class="topicdetails" style="white-space: nowrap;">@topic.LastPostCreationTime</p>
                        <p class="topicdetails">
                            <a href="#">@topic.LastPostAuthorName</a>
                            <a href="#"><img src="/Content/Images/icon_topic_latest.gif" width="9" height="9" alt="View the latest post" title="View the latest post" /></a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <table width="100%" cellspacing="1">
        <tbody>
            <tr>
                <td align="left" valign="middle"><a href="#"><img src="/Content/Images/button_topic_new.gif" width="79" height="22" alt="Post new topic" title="Post new topic"/></a></td>
                <td class="nav" valign="middle" nowrap="nowrap">&nbsp;Page <strong>1</strong> of <strong>1</strong></td>
                <td class="gensmall" nowrap="nowrap">&nbsp;[ 6 topics ]&nbsp;</td>
                <td class="gensmall" width="100%" align="right" nowrap="nowrap"></td>
            </tr>
        </tbody>
    </table>
</div>