@model App.MVC.ViewModels.Category.CategoryWithTopicsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @if (WebSecurity.IsAuthenticated)
        {
            <a href="#" class="btn btn-primary">Create new topic</a>
        }
        <table class="table">
            <thead>
            <tr class="table-info">
                <th style="width: 65%;">
                    @Model.Name
                </th>
                <th class="text-center" style="width: 10%;">
                    Creation time
                </th>
                <th class="text-center" style="width: 5%;">
                    Posts
                </th>
                <th class="text-center" style="width: 5%;">
                    Views
                </th>
                <th class="text-center" style="width: 15%;">
                    Last post
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var topicDetails in Model.Topics)
            {
                <tr>
                    <td>
                        @Html.ActionLink(topicDetails.Name, "Index", "Topic", new {topicAlias = topicDetails.Alias}, null)
                    </td>
                    <td class="text-center">
                        @topicDetails.CreationTime
                    </td>
                    <td class="text-center">
                        @topicDetails.PostsCount
                    </td>
                    <td class="text-center">
                        0
                    </td>
                    <td class="no-margin-p text-center">
                        @if (topicDetails.PostsCount != 0)
                        {
                            <div>@topicDetails.LastPostCreationTime.ToString("dd-MM-yyyy hh:mm")</div>
                            <div>@topicDetails.LastPostAuthorName</div>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@Html.Action("Statistics", "Statistics")