@model IEnumerable<App.MVC.ViewModels.Section.SectionWithCategoriesViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var sectionDetails in Model)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-info">
                    <th style="width: 60%;">
                        @sectionDetails.Name
                    </th>
                    <th style="width: 10%;">
                        Topic
                    </th>
                    <th style="width: 10%;">
                        Posts
                    </th>
                    <th style="width: 20%;">
                        Last post
                    </th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var categoryDetails in sectionDetails.Categories)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(categoryDetails.Name, "Index", "Category", new { categoryAlias = categoryDetails.Alias }, null)
                            </td>
                            <td>
                                @categoryDetails.TopicsCount
                            </td>
                            <td>
                                @categoryDetails.PostsCount
                            </td>
                            <td>
                                @if (categoryDetails.PostsCount != 0)
                                {
                                    @categoryDetails.LastPostCreationTime.ToString("dd-MM-yyyy hh:mm")
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@Html.Action("Statistics", "Statistics")