@model App.MVC.ViewModels.Topic.TopicWithPostsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="pageheader">
	<h2><a class="titles" href="#">@Model.Name</a></h2>
</div>

<br clear="all" /><br />

<div id="pagecontent">
	<table width="100%" cellspacing="1">
	<tr>
		<td align="left" valign="middle" nowrap="nowrap">
			<a href="#"><img src="/Content/Images/button_topic_reply.gif" width="79" height="22" alt="Reply to topic" title="Reply to topic" /></a>
		</td>
		
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;Page <strong>1</strong> of <strong>1</strong><br /></td>
		<td class="gensmall" nowrap="nowrap">&nbsp;[ @Model.Posts.Count() posts ]&nbsp;</td>
		<td class="gensmall" width="100%" align="right" nowrap="nowrap"></td>
	</tr>
	</table>

	<table class="tablebg" width="100%" cellspacing="0"> 
        @foreach (var post in Model.Posts)
        {
            <tr class="row2">
                <td align="center" valign="top" class="row">
                    <a name="p11256"></a>
                    <div class="postauthor">@post.AuthorName</div>
                    <div class="postdetails">
                        <br /><b>Joined:</b> 22 Jun 2009, 15:48<br /><b>Posts:</b> 1143<br /><b>Location:</b> Test
                    </div>
                </td>
                <td width="100%" height="25" class="row" valign="top">
                    <div class="postbody">
                        @post.Content
                    </div>
                    <br clear="all" /><br />
                </td>
            </tr>
            <tr class="row2">
                <td class="postbottom" align="center">@post.CreationTime</td>
                <td class="postbottom postbuttons" valign="middle">
                    <div style="float: right">

                    </div>
                    <a href="#">Profile</a>
                </td>
            </tr>
            <tr>
                <td class="spacer" colspan="2" height="1"></td>
            </tr>
        }
	</table>
	

	<table width="100%" cellspacing="1">
	<tr>
		<td align="left" valign="middle" nowrap="nowrap">
			<a href="#"><img src="/Content/Images/button_topic_reply.gif" width="79" height="22" alt="Reply to topic" title="Reply to topic" /></a>&nbsp;
		</td>
		
		<td class="nav" valign="middle" nowrap="nowrap">&nbsp;Page <strong>1</strong> of <strong>1</strong><br /></td>
		<td class="gensmall" nowrap="nowrap">&nbsp;[ 4 posts ]&nbsp;</td>
		<td class="gensmall" width="100%" align="right" nowrap="nowrap"></td>
	</tr>
	</table>
</div>